<div class="container">
	<div class="row">
		<div class="offset-md-2 col-md-8">
			<div class="card card-block">
				<h4 class="card-title"><%= @experience.topic %></h4>
				<p class="card-text"><%= @experience.content %></p>
				<p><small>Posted by: </small><%= link_to @experience.user.username, user_path(@experience.user.username), class: "card-link" %></p>
				<% if @experience.user == current_user %>
				<%= link_to 'Edit', edit_experience_path(@experience), class: "card-link"%> <% end %>
				<%= link_to 'Back', experiences_path, class:"card-link" %>
				<hr>
                <% if current_user.voted_up_on? @experience %>
                    <a class="btn btn-sm"><%= link_to 'Unlike', unvote_experience_path(@experience), method: :delete %></a> 
                <% else %> 
                    <a class="btn btn-sm"><%= link_to 'Click to Like', vote_experience_path(@experience), method: :post %></a> 
                <% end %>
                <% if @experience.votes_for.up.size > 0 %>
                <span class="tag tag-default tag-pill float-xs-right"><%= @experience.votes_for.up.size %> Likes</span> 
              <% else %>
                <span class="tag tag-default tag-pill float-xs-right">Be the first to like</span> 
              <% end %>
			</div>
		</div>
	</div>
</div>

<hr size=2>

<div class="row">
	<div class="offset-md-2 col-md-8">
		<h3>Comments</h3>

		<%= form_for [@experience, Comment.new] do |f| %>
		<%= f.text_area :body, placeholder: "Add a comment" %><br/>
		<%= f.submit "Add Comment" %>
		<% end %>

		<ul>
 	 	<%= render(partial: 'comments/comment', collection: @experience.comments) %>
		</ul>
	</div>
</div>
