<div class="container">
	<p>
	  <strong>User:</strong>
	  <%= @experience.user %>
	</p>

	<p>
	  <strong>Topic:</strong>
	  <%= @experience.topic %>
	</p>

	<p>
	  <strong>Content:</strong>
	  <%= @experience.content %>
	</p>

	<% if @experience.user == current_user %>
		<%= link_to 'Edit', edit_experience_path(@experience) %> 
	<% end %>

	<%= link_to 'Back', experiences_path %>

	<h3>Comments</h3>

	<%= form_for [@experience, Comment.new] do |f| %>
	<%= f.text_area :body, placeholder: "Add a comment" %><br/>
	<%= f.submit "Add Comment" %>
	<% end %>

	<ul>
 	 <%= render(partial: 'comments/comment', collection: @experience.comments) %>
	</ul>

</div>
