<!DOCTYPE html>
<html>
  <head>
    <title>FSBO Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!-- Navigation Bar -->
    <nav class="navbar navbar-fixed-top navbar-default">
      <%= link_to "FSBO Forum", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-default">
        <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Contact", contactus_path, class: "nav-link" %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Explore", experiences_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "My Feed", feed_path, class: "nav-link" %></li>
          <li class="nav-item float-md-right"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link" %></li>
          <li class="nav-item float-md-right"><%= link_to "Share An Experience", new_experience_path, class: "btn btn-primary" %></li>
        <% else %>
          <li class="nav-item float-md-right"><%= link_to "Sign up", signup_path, class: "btn btn-primary" %></li>
          <li class="nav-item float-md-right"><%= link_to "Sign in", signin_path, class: "nav-link" %></li>
          <% end %>

      </ul>
    </nav>
    


    <!-- Flash Messages -->
    <% flash.each do |name,message| %>
      <% content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>

   <!-- Page Content -->

 
      <%= yield %>
   
    
  </body>
</html>
